body{
    margin: 0;
}


.hero{
    display: flex;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5em;
    box-sizing: border-box;
}

header img{
    width: auto;
    height: 100%;
    margin-left: 3em;
}

.links{
    color: #f3f0ee;
    font-size: 1em;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    font-family: monospace;
    margin-right: 3em;
}

a{
    text-decoration: none;
}

.links a:hover{
    font-size: 1.6em;
}

a:visited{
    color: #DFE6E9;
}

.body{
    background-color: #3c3f4c;
    display: flex;
    flex-direction: column;

}

.about{
    display: flex;
}

article{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: 5%;

}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #f3f0ee;
    margin: 0 30px;
}

.about p{
    font-size: 18px;
    color: #f3f0ee;
    margin: 10px 30px;
}

.banner{
    width: 35%;
    height: auto;
    margin: 5%;
    border-radius: 3%;
}

.roster-div, .openings{
    background-color: #f49030;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: #35364a;
}

.roster-title{
    font-size: 3em;
}

.roster{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    font-size: 1em;
}

.player-position{
    font-size: 1.5em;
}

.player img{
    width: 200px;
    height: 200px;
    margin: 0.11em 2.7em 0.1em;
    border-radius: 2em;
}

.player-description{
    font-size: 1.8em;
    font-weight: bold;
}

.quote{
    background-color: #ef863d;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-quote{
    font-size: 100px;
    font-weight: lighter;
    font-style: italic;
    color: #35364a;

}

.autor-quote{
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: right;
}

.card{
    background-color: #35364a;
    width: 70%;
    height: 250px;
    display: flex;
    margin: 5em 3em;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-card{
    color: #DFE6E9;
    font-size: 20px;
}

.button-container{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 100px;
}

button{
    border: #DFE6E9;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    border-color: #DFE6E9;
    background-color: #f49030;
    font-size: 24px;
}

button a:visited{
    color: wheat;
}

.footer{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 1.5em;
    font-style: italic;
    font-family: monospace;
    color: #DFE6E9;
}